# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear

# Build directories
/target/
/bin/
/build/

# IDE files
.idea/
*.iml
.vscode/
.mvn/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
application.properties
application.yml

# Maven / Gradle caches (optional)
.mvn/
.gradle/


# Compressed files
*.zip
*.tar
*.tar.gz
*.rar
*.7z
